<div class='data_point_config' data-data_point_id='${id}'>
    <div class='image_and_title'>
        <img src='${image_small}' />
        <h3>${full_display_name}</h3>
    </div>
    <div class='instructions'>
        <p >{{html instructions}}</p>
    </div>
    <form>
        <div class='configuration' data-name='${type}'>
            {{each(index, element) elements}}
                {{if element.type == 'oauth2'}}
                    <input type="hidden" name="${element.name}" value="${element.value}" class="oauth2" />
                {{/if}}
                {{if element.type == 'select'}}
                    <div class='form_row clearfix'>
                        <label>${element.display_name}</label>
                        <div class="select_container">
                            <select name="${element.name}" class="${element.name}">
                                {{each(index, option) element.values}}
                                    <option value="${option.value}">${option.name}</option>
                                {{/each}}
                            </select>
                        </div>
                        <p class="help">{{html element.help}}</p>
                    </div>
                {{/if}}
                {{if element.type == 'multiple_select'}}
                    <div class="form_row clearfix">
                        <label>${element.display_name}</label>
                        <div class="select_container">
                            <select name='${element.name}' class="${element.name} multiple_select" multiple="multiple">
                                {{each(index, option_group) element.values}}
                                    {{if option_group.name == null}}
                                        {{each(index, option) option_group.options}}
                                            <option value="${option.value}">${option.name}</option>
                                        {{/each}}
                                    {{/if}}
                                    {{if option_group.name != null}}
                                        <optgroup label="${option_group.name}">
                                            {{each(index, option) option_group.options}}
                                                <option value="${option.value}">${option.name}</option>
                                            {{/each}}
                                        </optgroup>
                                    {{/if}}
                                {{/each}}
                        </select>
                        </div>
                    </div>
                {{/if}}
                {{if element.type == 'text'}}
                    <div class='form_row'>
                        <label>${element.display_name}</label>
                        <input type="${element.type}" name="${element.name}" class="${element.name}" value="${element.value}"/>
                        <p class="help">{{html element.help}}</p>
                    </div>
                {{/if}}
                {{if element.type == 'api_key'}}
                    <div class='form_row api_key_row'>
                        <label>${element.display_name}</label>
                        <input disabled='disabled' type="${element.type}" name="${element.name}" class="${element.name}" value="${access_api_key_store_value($data.type)}"/>
                        <a class="api_key_link">Change</a>
                        <p class="help">Click the 'change' button to open the api key manager</p>
                    </div>
                {{/if}}
                {{if element.type == 'file_upload'}}
                    <div class="form_row file_upload_row">
                        <label>${element.display_name}</label>
                        <a class="file_upload_link">Upload</a>
                        <p class="help">${element.help}</p>
                    </div>
                {{/if}}
                {{if element.type == 'date_time'}}
                    <div class="form_row">
                        <label>${element.display_name}</label>
                        <input type="text" name="${element.name}" class="date_time ${element.name}" value="${element.value}" />
                    </div>
                {{/if}}
            {{/each}}
        </div>
        <div class="form_actions">
            <input type="submit" name="cancel" class="cancel" value="remove"/>
            <input type="submit" name="save"  class="save" value="save"/>
        </div>
    </form>
</div>